---
import Dashboard from "../components/Dashboard.jsx";
import "../styles/styles.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Second Look</title>
  </head>
  <body>
    <Dashboard client:load />
  </body>
</html>
